<swd-grid #grid>
    @for (entry of entities; track $index) {
    <swd-node swdDraggable [grid]="grid" [entity]="entry[0]"
        [ngStyle]="{left: entry[1].x +'px', top: entry[1].y + 'px'}"></swd-node>
    }
</swd-grid>

<div style="position: absolute;" [ngStyle]="{transform: pickerTransform}">
    @if (isPicking) {
    <swd-picker [(selected)]="selected">
        <swd-node [readonly]="true" [entity]="{name: 'ViewModel', attributes: []}" [hue]="30"></swd-node>
        <swd-node [readonly]="true" [entity]="{name: 'Table', attributes: []}" [hue]="230"></swd-node>
    </swd-picker>
    }
</div>