<swd-grid #grid>
    @for (node of this.nodeService.entities(); track node) {
    <swd-placeable [grid]="grid" [position]="node.position">
        <swd-node #nodeRef swdSelectable [grid]="grid" [entity]="node" [(selected)]="node.selected"></swd-node>
    </swd-placeable>
    }
    <svg viewBox="0 0 1000 1000"
        style="overflow: visible; position: absolute; top: 3px; left: 3px; pointer-events: none; z-index: -1;"
        width="1000">
        @for (connection of this.nodeService.connections(); track $index) {
        <g swd-node-connection [gridComponent]="grid" [trackMouse]="false"
            [startPoint]="{x: connection.src.node.position().x + connection.src.attribute.outAnchor().x, y: connection.src.node.position().y + connection.src.attribute.outAnchor().y}"
            [endPoint]="{x: connection.dst.node.position().x + connection.dst.attribute.inAnchor().x ,y: connection.dst.node.position().y  + connection.dst.attribute.inAnchor().y }">
        </g>
        }
    </svg>
</swd-grid>

<div style="position: absolute;" [ngStyle]="{transform: pickerTransform}">
    @if (isPicking) {
    <swd-picker [(selected)]="menuSelection">
        <swd-node [readonly]="true" [entity]="emptyEntity" [hue]="30"></swd-node>
        <swd-node [readonly]="true" [entity]="emptyViewModel" [hue]="210"></swd-node>
    </swd-picker>
    }
</div>