#attribute {
    display: flex;
    border-radius: 8px;
}

#attribute:hover {
    background-color: #fff1;

    #delete {
        color: #fffe;
    }
}

.connector-container,
#icon,
#delete {
    display: flex;
    align-items: center;
    margin: 0 6px;
    width: 12px;
}

#delete {
    cursor: pointer;
    color: #0000;
    margin-right: 0px;
}

#icon {
    color: rgb(255, 196, 0);
}

.connector {
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    background: #fff2;
    border: 1px solid #fff9;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.connector:hover {
    border: 2px solid #fffb;
}

.connector-inner {
    position: relative;
    width: 6px;
    height: 6px;
    background: #fffb;
    border-radius: 50%;
}