#attribute {
    display: flex;
    border-radius: 8px;
}

#attribute:hover {
    background-color: #fff1;
}

#icon {
    width: 12px;
    color: rgb(255, 196, 0);
    justify-self: left;
    margin: 0 4px;
}
