:host {
    display: contents;
}

#attribute {
    display: contents;
}

#icon {
    width: 12px;
    color: rgb(255, 196, 0);
    justify-self: left;
}

::ng-deep #name,
::ng-deep #delimiter {
    pointer-events: all;
    position: relative;
    cursor: text !important;
    color: white;
}

::ng-deep #type {
    padding-left: 4px;
    color: orange;
}