<div #attributeRef id="attribute">
    <span id="icon">
        @if (attribute.keyType === 'primary') {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
            <path fill-rule="evenodd"
                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                clip-rule="evenodd" />
        </svg>
        } @else if (attribute.keyType === 'foreign' && attribute.connectedTo) {
        <span class="connector">
            <div class="connector-inner"></div>
        </span>
        }
    </span>
    <span>
        <swd-node-label #nameRef [(value)]="attribute.name" style="color: #fff"
            (escape)="focusTypeElement()"></swd-node-label>
    </span>
    <span>
        <swd-node-label #typddeRef [(value)]="attribute.type" [casing]="'ALL_CAPS'" style="color: orange"
            (escape)="escape.emit()"></swd-node-label>
    </span>
    <span class="connector-container">
        @if (attribute.keyType === 'primary') {
        <span class="connector" draggable="true" (dragstart)="onDragStart($event)" (dragleave)="onDragLeave($event)"
            (dragend)="onDragLeave($event)">
            <div class="connector-inner" #outAnchor>
                @if (nodeService.isConnecting && nodeService.connectionStart?.attribute === attribute) {
                <svg viewBox="0 0 1000 1000"
                    style="overflow: visible; position: absolute; top: 3px; left: 3px; pointer-events: none;"
                    width="1000">
                    <g swd-node-connection [gridComponent]="grid"></g>
                </svg>
                }
            </div>
        </span>
        }
    </span>

</div>