:host {
    position: relative;
    cursor: text;
}

/* #input {
    display: inline-flex;
    flex-direction: column;
} */

#input::after {
    display: block;
    visibility: visible;
    left: 0;
    height: 0;
    visibility: hidden;
    content: attr(data-text) / "";
    font-weight: bold;
    user-select: none;
    overflow: hidden;
    pointer-events: none;
}