:host {
    display: block;
    min-width: 120px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: rgba(15, 15, 15, 0.55);
    position: absolute;
    cursor: move;
    user-select: none;
    padding: 0 6px 6px 0;
}

:host:last-child {
    padding-bottom: 4px;
}

#title {
    text-align: center;
    padding: 2px;
    color: #fff;
}

#glow {
    position: absolute;
    inset: 0;
    border-top: 1.5px solid rgba(255, 255, 255, 0.7);
    border-radius: inherit;
    background: linear-gradient(rgba(255, 255, 255, 0.25) 0px, rgba(255, 255, 255, 0.21) 3px, rgba(255, 255, 255, 0.14) 6px, rgba(255, 255, 255, 0.1) 9px, rgba(255, 255, 255, 0.1) 13px, transparent 13px);
    pointer-events: none;
}

#attributes {
    padding: 0 8px;
    display: grid;
    grid-template-columns: 16px auto auto;
    gap: 0 8px;
    user-select: none;
}

#attributes>*:hover {
    font-weight: bold;
}

#attributes>* {
    cursor: pointer;
}