:host {
    display: block;
    position: absolute;
    border-radius: 20px;
}

#container {
    border-radius: inherit;
    display: block;
    min-width: 120px;
    border: 1px solid #000;
    background-color: #0f0f0fac;
    cursor: move;
    user-select: none;
    padding: 6px;
}

#container.hovered {
    outline: 3px solid #afafaf;
}

#title {
    text-align: center;
    padding: 2px;
    color: #fff;
}

#glow {
    position: absolute;
    inset: 0;
    border-top: 1.5px solid rgba(255, 255, 255, 0.7);
    border-radius: inherit;
    background: linear-gradient(rgba(255, 255, 255, 0.25) 0px, rgba(255, 255, 255, 0.21) 3px, rgba(255, 255, 255, 0.14) 6px, rgba(255, 255, 255, 0.1) 9px, rgba(255, 255, 255, 0.1) 13px, transparent 13px);
    pointer-events: none;
}
