/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.ant-menu {
    background: unset;
}

.ant-btn {
    border-radius: 5px;
}

.ant-btn.ant-btn-background-ghost {
    color: rgba(0, 0, 0, .45);
    border-color: rgba(0, 0, 0, .45);
}

.button {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 12px;
    color: rgba(0, 0, 0, .85);
    height: fit-content;
}

.button:hover {
    background: #d5d5d5;
}
