/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ng-zorro-antd/ng-zorro-antd.dark.min.css';

:root {
    color-scheme: dark;
}

html,
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.ant-menu {
    background: unset;
}

.ant-btn {
    border-radius: 5px;
}

.button {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 12px;
    height: fit-content;
}

.button:hover {
    background: #d5d5d5;
}

/* Tree fixes */
.ant-tree-show-line,
.ant-tree-switcher,
.ant-tree {
    background: unset !important;
}